* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0a0a1a;
  color: white;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  position: fixed;
  width: 100%;
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(10px);
}

nav ul {
  display: flex;
  gap: 25px;
}

nav a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #7f8cff;
}

/* SECTIONS */
.section {
  padding: 120px 50px;
  min-height: 100vh;
}

/* DARK */
.dark {
  background: #111;
}

/* LIGHT */
.light {
  background: #f5f7ff;
  color: #111;
}

.light h2,
.light p,
.light li {
  color: #111;
}

/* HERO */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content {
  max-width: 700px;
  margin-top: 40px;
}

/* TEXT SPACING */
h1 {
  margin: 15px 0;
}

h3 {
  margin-bottom: 10px;
}

.subtitle {
  margin-top: 15px;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* TAG */
.tag {
  color: #7f8cff;
  margin-bottom: 10px;
}

/* BUTTONS */
.buttons {
  margin-top: 25px;
}

.btn {
  padding: 10px 22px;
  border: 1px solid #7f8cff;
  margin: 5px;
  text-decoration: none;
  color: white;
  border-radius: 8px;
  transition: 0.3s;
}

.btn:hover {
  background: #7f8cff;
}

.primary {
  background: #7f8cff;
}

/* STATS */
.stats {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 40px;
}

.stats div {
  text-align: center;
}

.stats h2 {
  font-size: 30px;
  margin-bottom: 5px;
  color: #7f8cff;
}

.stats p {
  font-size: 14px;
  opacity: 0.8;
}

/* CARD */
.card {
  margin-top: 25px;
  background: #1a1a2e;
  padding: 25px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* LIGHT CARD FIX */
.light .card {
  background: white;
  color: #111;
}

/* SKILLS */
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.skills span {
  background: #7f8cff;
  padding: 10px 15px;
  border-radius: 20px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: black;
}

/* RESPONSIVE */
@media(max-width: 768px){
  .stats {
    flex-direction: column;
    gap: 20px;
  }
}
