* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

/* NAV */
nav {
  position: fixed;
  width: 100%;
  padding: 15px 60px;
  display: flex;
  justify-content: space-between;
  background: rgba(15,23,42,0.9);
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  color: #cbd5f5;
  text-decoration: none;
}

/* HERO */
.hero {
  min-height: 100vh;
  padding-top: 120px;
  text-align: center;
  background: radial-gradient(circle,#1e1b4b,#0f172a);
}

.hero h1 {
  font-size: 60px;
}

.hero h1 span {
  background: linear-gradient(#a5b4fc,#6366f1);
  -webkit-background-clip: text;
  color: transparent;
}

.btn {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
}

.primary {background:#6366f1;color:white;}
.secondary {border:1px solid white;color:white;}

.stats {
  display:flex;
  justify-content:center;
  gap:40px;
  margin-top:30px;
}

/* ABOUT */
.about {
  background:#f8fafc;
  color:#000;
  padding:100px;
}

.about-container {
  display:flex;
  gap:50px;
}

.about-card {
  background:white;
  padding:20px;
  border-radius:10px;
}

/* SKILLS */
.bar {
  height:6px;
  background:#ddd;
}

.bar div {
  height:100%;
  background:#6366f1;
}

/* EXPERIENCE */
.experience {
  background:#f8fafc;
  color:black;
  padding:100px;
}

.timeline {
  position:relative;
}

.timeline::before {
  content:"";
  position:absolute;
  left:50%;
  width:2px;
  height:100%;
  background:#ccc;
}

.timeline-item {
  display:flex;
  justify-content:space-between;
  margin:40px 0;
}

.left {width:40%;text-align:right;}
.right {width:40%;}
.center {width:20%;text-align:center;}

.circle {
  width:10px;
  height:10px;
  background:#6366f1;
  border-radius:50%;
}
