* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  position: fixed;
  width: 100%;
  top: 0;

  background: rgba(0,0,0,0.3);
  backdrop-filter: blur(10px);
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #0f172a, #6366f1);
  color: white;
}

.hero h1 {
  font-size: 70px;
}

.subtitle {
  margin: 20px 0;
}

/* BUTTON */
.btn {
  padding: 10px 20px;
  margin: 10px;
}

/* SECTIONS */
.section {
  min-height: 100vh;
  padding: 100px 20px;
}

.light {
  background: white;
}

.dark {
  background: #0f172a;
  color: white;
}

/* CARDS */
.grid {
  display: flex;
  gap: 20px;
}

.card {
  background: rgba(255,255,255,0.1);
  padding: 20px;
  border-radius: 10px;
}

/* 🔥 SCROLL ANIMATION */
.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
